USE [master]
GO
/****** Object:  Database [ITServiceDesk]    Script Date: 20-08-2026 18:18:45 ******/
CREATE DATABASE [ITServiceDesk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITServiceDesk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ITServiceDesk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITServiceDesk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ITServiceDesk_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITServiceDesk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITServiceDesk]
GO
/****** Object:  Table [dbo].[AIAnalysis]    Script Date: 20-08-2026 18:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIAnalysis](
	[AIAnalysisId] [int] IDENTITY(1,1) NOT NULL,
	[IncidentId] [int] NOT NULL,
	[SuggestedCategory] [varchar](100) NULL,
	[SuggestedPriority] [varchar](50) NULL,
	[SuggestedResolution] [varchar](max) NULL,
	[ConfidenceScore] [decimal](5, 2) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AIAnalysisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIAnalysisRelatedIncident]    Script Date: 20-08-2026 18:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIAnalysisRelatedIncident](
	[AIAnalysisRelatedIncidentId] [int] IDENTITY(1,1) NOT NULL,
	[AIAnalysisId] [int] NOT NULL,
	[RelatedIncidentId] [int] NOT NULL,
	[RelationshipType] [varchar](20) NOT NULL,
	[SimilarityScore] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AIAnalysisRelatedIncidentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 20-08-2026 18:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escalations]    Script Date: 20-08-2026 18:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escalations](
	[EscalationId] [int] IDENTITY(1,1) NOT NULL,
	[IncidentId] [int] NOT NULL,
	[EscalatedBy] [int] NULL,
	[EscalatedTo] [int] NULL,
	[Reason] [varchar](500) NOT NULL,
	[EscalatedAt] [datetime] NOT NULL,
	[ResolvedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EscalationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentAssignments]    Script Date: 20-08-2026 18:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentAssignments](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[IncidentId] [int] NOT NULL,
	[AssignedTo] [int] NOT NULL,
	[AssignedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentComments]    Script Date: 20-08-2026 18:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentComments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[IncidentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CommentText] [varchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidents]    Script Date: 20-08-2026 18:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidents](
	[IncidentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Priority] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ResolvedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 20-08-2026 18:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[IncidentId] [int] NULL,
	[Message] [varchar](500) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20-08-2026 18:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20-08-2026 18:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AIAnalysis] ON 

INSERT [dbo].[AIAnalysis] ([AIAnalysisId], [IncidentId], [SuggestedCategory], [SuggestedPriority], [SuggestedResolution], [ConfidenceScore], [CreatedAt], [Status]) VALUES (1, 1, N'Hardware', N'Critical', N'Check power connection, charger and battery. If the laptop still does not start, inspect the hardware.', CAST(0.95 AS Decimal(5, 2)), CAST(N'2026-08-18T23:58:34.390' AS DateTime), N'Pending')
INSERT [dbo].[AIAnalysis] ([AIAnalysisId], [IncidentId], [SuggestedCategory], [SuggestedPriority], [SuggestedResolution], [ConfidenceScore], [CreatedAt], [Status]) VALUES (2, 2, N'Network', N'High', N'Check Wi-Fi connection, restart the network adapter and verify the office network availability.', CAST(0.91 AS Decimal(5, 2)), CAST(N'2026-08-18T23:58:34.390' AS DateTime), N'Pending')
INSERT [dbo].[AIAnalysis] ([AIAnalysisId], [IncidentId], [SuggestedCategory], [SuggestedPriority], [SuggestedResolution], [ConfidenceScore], [CreatedAt], [Status]) VALUES (3, 3, N'Email', N'Medium', N'Check email credentials, account access and connectivity. Reset the password if required.', CAST(0.89 AS Decimal(5, 2)), CAST(N'2026-08-18T23:58:34.390' AS DateTime), N'Pending')
SET IDENTITY_INSERT [dbo].[AIAnalysis] OFF
GO
SET IDENTITY_INSERT [dbo].[AIAnalysisRelatedIncident] ON 

INSERT [dbo].[AIAnalysisRelatedIncident] ([AIAnalysisRelatedIncidentId], [AIAnalysisId], [RelatedIncidentId], [RelationshipType], [SimilarityScore]) VALUES (1, 1, 2, N'Similar', CAST(0.85 AS Decimal(5, 2)))
INSERT [dbo].[AIAnalysisRelatedIncident] ([AIAnalysisRelatedIncidentId], [AIAnalysisId], [RelatedIncidentId], [RelationshipType], [SimilarityScore]) VALUES (2, 2, 1, N'Related', CAST(0.82 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[AIAnalysisRelatedIncident] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (4, N'Access')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (5, N'Email')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'Hardware')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Escalations] ON 

INSERT [dbo].[Escalations] ([EscalationId], [IncidentId], [EscalatedBy], [EscalatedTo], [Reason], [EscalatedAt], [ResolvedAt]) VALUES (1, 1, 3, 5, N'Critical incident requires manager attention.', CAST(N'2026-08-19T00:04:11.020' AS DateTime), NULL)
INSERT [dbo].[Escalations] ([EscalationId], [IncidentId], [EscalatedBy], [EscalatedTo], [Reason], [EscalatedAt], [ResolvedAt]) VALUES (2, 2, 3, 5, N'Network issue requires higher-level support.', CAST(N'2026-08-19T00:04:11.020' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Escalations] OFF
GO
SET IDENTITY_INSERT [dbo].[IncidentAssignments] ON 

INSERT [dbo].[IncidentAssignments] ([AssignmentId], [IncidentId], [AssignedTo], [AssignedAt]) VALUES (1, 1, 3, CAST(N'2026-08-18T23:55:28.137' AS DateTime))
INSERT [dbo].[IncidentAssignments] ([AssignmentId], [IncidentId], [AssignedTo], [AssignedAt]) VALUES (2, 2, 3, CAST(N'2026-08-18T23:55:28.137' AS DateTime))
INSERT [dbo].[IncidentAssignments] ([AssignmentId], [IncidentId], [AssignedTo], [AssignedAt]) VALUES (3, 3, 3, CAST(N'2026-08-18T23:55:28.137' AS DateTime))
SET IDENTITY_INSERT [dbo].[IncidentAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[IncidentComments] ON 

INSERT [dbo].[IncidentComments] ([CommentId], [IncidentId], [UserId], [CommentText], [CreatedAt]) VALUES (1, 1, 1, N'My laptop is not turning on since this morning.', CAST(N'2026-08-18T23:56:12.930' AS DateTime))
INSERT [dbo].[IncidentComments] ([CommentId], [IncidentId], [UserId], [CommentText], [CreatedAt]) VALUES (2, 1, 3, N'Please try connecting the laptop to the charger and restart it.', CAST(N'2026-08-18T23:56:12.930' AS DateTime))
SET IDENTITY_INSERT [dbo].[IncidentComments] OFF
GO
SET IDENTITY_INSERT [dbo].[Incidents] ON 

INSERT [dbo].[Incidents] ([IncidentId], [Title], [Description], [CategoryId], [Priority], [Status], [CreatedBy], [CreatedAt], [ResolvedAt]) VALUES (1, N'Laptop not starting', N'My laptop does not turn on when I press the power button.', 1, N'Critical', N'Open', 1, CAST(N'2026-08-18T23:50:52.323' AS DateTime), NULL)
INSERT [dbo].[Incidents] ([IncidentId], [Title], [Description], [CategoryId], [Priority], [Status], [CreatedBy], [CreatedAt], [ResolvedAt]) VALUES (2, N'Wi-Fi not working', N'The office Wi-Fi is not connecting to my laptop.', 3, N'High', N'Open', 2, CAST(N'2026-08-18T23:50:52.323' AS DateTime), NULL)
INSERT [dbo].[Incidents] ([IncidentId], [Title], [Description], [CategoryId], [Priority], [Status], [CreatedBy], [CreatedAt], [ResolvedAt]) VALUES (3, N'Cannot access email', N'I am unable to access my official email account.', 5, N'Medium', N'Resolved', 1, CAST(N'2026-08-18T23:50:52.323' AS DateTime), CAST(N'2026-08-18T23:54:12.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[Incidents] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [UserId], [IncidentId], [Message], [IsRead], [CreatedAt]) VALUES (1, 3, 1, N'Incident 1 has been assigned to you.', 0, CAST(N'2026-08-19T00:02:38.240' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [IncidentId], [Message], [IsRead], [CreatedAt]) VALUES (2, 3, 2, N'Incident 2 has been assigned to you.', 0, CAST(N'2026-08-19T00:02:38.240' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [IncidentId], [Message], [IsRead], [CreatedAt]) VALUES (3, 1, 3, N'Your incident has been resolved.', 0, CAST(N'2026-08-19T00:02:38.240' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Employee')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Help Desk Agent')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'IT Administrator')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Email], [PasswordHash], [RoleId]) VALUES (1, N'Rahul Sharma', N'rahul@example.com', N'DEMO_HASH_001', 1)
INSERT [dbo].[Users] ([UserId], [Name], [Email], [PasswordHash], [RoleId]) VALUES (2, N'Priya Mehta', N'priya@example.com', N'DEMO_HASH_002', 1)
INSERT [dbo].[Users] ([UserId], [Name], [Email], [PasswordHash], [RoleId]) VALUES (3, N'Arjun Verma', N'arjun@example.com', N'DEMO_HASH_003', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0077FB8C9]    Script Date: 20-08-2026 18:18:46 ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E5456BCD]    Script Date: 20-08-2026 18:18:46 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AIAnalysis] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AIAnalysis] ADD  CONSTRAINT [DF_AIAnalysis_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Escalations] ADD  DEFAULT (getdate()) FOR [EscalatedAt]
GO
ALTER TABLE [dbo].[IncidentAssignments] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[IncidentComments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Incidents] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Incidents] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AIAnalysis]  WITH CHECK ADD FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([IncidentId])
GO
ALTER TABLE [dbo].[AIAnalysisRelatedIncident]  WITH CHECK ADD FOREIGN KEY([AIAnalysisId])
REFERENCES [dbo].[AIAnalysis] ([AIAnalysisId])
GO
ALTER TABLE [dbo].[AIAnalysisRelatedIncident]  WITH CHECK ADD FOREIGN KEY([RelatedIncidentId])
REFERENCES [dbo].[Incidents] ([IncidentId])
GO
ALTER TABLE [dbo].[Escalations]  WITH CHECK ADD FOREIGN KEY([EscalatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Escalations]  WITH CHECK ADD FOREIGN KEY([EscalatedTo])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Escalations]  WITH CHECK ADD FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([IncidentId])
GO
ALTER TABLE [dbo].[IncidentAssignments]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[IncidentAssignments]  WITH CHECK ADD FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([IncidentId])
GO
ALTER TABLE [dbo].[IncidentComments]  WITH CHECK ADD FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([IncidentId])
GO
ALTER TABLE [dbo].[IncidentComments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([IncidentId])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
USE [master]
GO
